@keyframes rainbow {
    0% {
        background-color: red;
    }

    16.6% {
        background-color: orange;
    }

    33.2% {
        background-color: yellow;
    }

    49.8% {
        background-color: green;
    }

    66.4% {
        background-color: blue;
    }

    83.0% {
        background-color: indigo;
    }

    100% {
        background-color: violet;
    }
}

body {
    background: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #e0e0e0;
}

#AgregarCancion,
#ListaCanciones {
    background: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.form-control {
    border-radius: 10px;
    background: #2e2e2e;
    color: #e0e0e0;
    border: none;
}

.btn {
    border-radius: 10px;
    background-color: #3e3e3e;
    color: #e0e0e0;
    border: none;
    transition: background-color 0.3s;
}

#agregar:hover {
    animation: rainbow 2s infinite;
    color: #121212;
}

.btn:hover {
    background-color: #5e5e5e;
}

.table-dark {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.table-dark th,
.table-dark td {
    border: 1px solid #333;
}

.table-dark thead th {
    background-color: #3e3e3e;
}